process {

/* Executor parameters */
//executor='condor'
maxForks = 4
//        errorStrategy='retry'
//errorStrategy = 'ignore'

}

params {

/* parameters for trimming */

pe=true // is the data paired end, or single end (cannot be mixed...)

trim_avgqual=30
trim_leading=0
trim_trailing=0
trim_slide_size=6
trim_slide_qual=30
trim_minlen=38

}
